@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:500&display=swap');
.tabs {
  display: flex;
  flex-wrap: wrap;
}
 
.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  font-weight: bold;
  transition: background ease 0.2s;
}
.tabs li a:nth-child(1) {background-color:#fcb68b;} 
.tabs li a:nth-child(2) {background-color:#fcb68b;} 
.tabs li a:nth-child(3) {background-color:#fcb68b;}        
.tabs li a:nth-child(4) {background-color:#336699;}
 
.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
}
 
.tabs input[type="radio"] {
  display: none;
}
 
.tabs input[type="radio"]:checked + label {
  background: #fff;
}
 
.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}
 
@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }
 
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
.tabs > div {
	 display: none;
	 padding: 1rem;
}
 .tabs > div:nth-of-type(1) {
	 background: #fcb68b;
}
 .tabs > div:nth-of-type(2) {
	 background: #3498db;
}
 .tabs > div:nth-of-type(3) {
	 background: #e67e22;
}
 .tabs > div:nth-of-type(4) {
	 background: #c0392b;
}
 .tabs > .active {
	 display: block;
}
 
body {
  background: #333;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-family: 'Cormorant Infant', serif;
  font-weight: 300;
  line-height: 1.5;

  margin: 0 auto;
  font-size: 112%;
}
