$white-rock: #EDECD5;
$rum-swizzle: #FBF9E8;
$buddha-gold: #C0970A;
$citrus: #AAC706;
$mountain-meadow: #15C68E;
$blue-green: #14A3BB;
$medium-slate-blue: #776EEF;

$tabs-list: (
  apples: $buddha-gold, 
  bananas: $citrus, 
  cherries: $mountain-meadow, 
  oranges: $blue-green, 
  pears: $medium-slate-blue
);

// General styles
@import url(https://fonts.googleapis.com/css?family=Vollkorn);
* { 
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: Vollkorn;
  height: 100%;
  padding: 2em;
  line-height: 1.5;
  max-width: 70em;
  margin-left: auto;
  margin-right: auto;
}

// Tab styling
.tabs {
  height: 100%;
}
input[name="tabs"] {
  float: left;
  opacity: 0;
  position: absolute;
}
input[name="tabs"] ~ label {
    padding: 1em;
    width: 20%;
    float: left;
    text-align: center;
    cursor: pointer;
    transition:background .3s;
    &:hover {
      background:#d9d9d9;
    }
    &:focus {
      outline: 0;
      text-shadow: 1px 1px 3px #888;
    }
}
.tab {
    height: 100%;
    display: none;
    padding: 6em 2em 2em;
}

@each $current-tab, $colour in $tabs-list {
    label[for="toggle-#{$current-tab}"] {
        border-top: 8px solid #{$colour};
        background: $rum-swizzle;
        border-left: 1px solid darken($white-rock, 20%);
        text-transform: uppercase;
    }
    #toggle-#{$current-tab}:checked ~ .tab-#{$current-tab} { 
        display:block;
        background: $white-rock;
    }
    #toggle-#{$current-tab}:checked ~ label[for="toggle-#{$current-tab}"] {
        cursor: default;
        background: $white-rock;
        color: #{$colour};
    }
}
svg {
  height: 2rem;
  width: 2rem;
  display: inline-block;
  vertical-align: middle;
}
.text-title {
  display: none;
  @media screen and (min-width: 900px) {
    display: inline-block;
    vertical-align: middle;
  }
}
.kaomoji {
  white-space: nowrap;
}
