@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant:500|Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Raleway:500&display=swap');
.tabs {
  display: flex;
  flex-wrap: wrap;
}

.tabs label {
  order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background:  #ac3b61;
  font-weight: bold;
  transition: background ease 0.2s;
  color: #eb88c5;
}

.tabs .tab {
  order: 99;
  flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #eee2dc;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: #eee2dc;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    order: initial;
  }

  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}
h1 {
	padding: 1rem;
	font-family: 'IM Fell English SC', serif;
	color: #ac3b61;
	margin-right: 200px;
}
h2 {
	font-family: 'IM Fell English SC', serif;
	color: #ac3b61;
}
h3 {
	font-family: 'IM Fell English SC', serif;
	color: #eb88c5;
}
h4 {
	font-family: 'IM Fell English SC', serif;
	color: #eb88c5;
}
#container {
	overflow:hidden;
	position:relative;
	width:90%;
	min-width:800px;
	margin-bottom:20px;
	margin-left:10px;
	margin-right:10px;
}
.lefttext {
	float: left;
	margin-right: 630px;
	margin-top:20px;
}
.rightimage {
	float: none;
	margin-top: 60px;
}
a:link {
  color: #f0b6dd; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: #ac3b61;
  background-color: transparent;
  text-decoration: none;
}
head {
	padding: 3rem;
	white-space: wrap;
        overflow-x: auto;
  	float: left;
}
body {
  background: #edc7b7;
  min-height: 50vh;
  box-sizing: border-box;
  padding-top: 10vh;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin: 0 auto;
  font-size: 112%;
}
